export DIRENV_LOG_FORMAT=""

export PYTHONPATH="$(pwd)${PYTHONPATH:+:$PYTHONPATH}"
export PATH="$(pwd)/helper/${PATH:+:$PATH}"

ML_DEFINITION() {
    source "ML.sh" "$@"
}
export ML_DEFINITION="$(declare -f ML_DEFINITION)"

echo "ML ready"
